{% extends "layouts/auth.html" %}
{% block body_block %}
{% load static %}
<!-- Start of Sign In -->
<div class="main order-md-1">
  <div class="start">
    <div class="container">
      <div class="col-md-12">
        <div class="content">
          <h1>Change Password</h1>

          <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

          <form method="post">
            {% csrf_token %}
            {{ form.old_password.errors }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            <div class="form-group">
              <input name="old_password" type="password" id="id_old_password" class="form-control" placeholder="Old Password" required>
              <button class="btn icon"><i class="material-icons">lock_outline</i></button>
            </div>
            <div class="form-group">
              <input name="new_password1" type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
              <button class="btn icon"><i class="material-icons">lock_outline</i></button>
            </div>
            <div class="form-group">
              <input name="new_password2" type="password" id="inputPassword" class="form-control" placeholder="Repeat Password" required>
              <button class="btn icon"><i class="material-icons">lock_outline</i></button>
            </div>
            <button type="submit" class="btn button" formaction="#">Sign In</button>
            <div class="callout">
              <span>Don't have account? <a href="{% url 'accounts:signup' %}">Change</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Sign In -->
<!-- Start of Sidebar -->
<div class="aside order-md-2">
  <div class="container">
    <div class="col-md-12">
      <div class="preference">
        <h2>Hello, Friend!</h2>
        <p>Enter your personal details and start your journey with Amee today.</p>
        <a href="#" class="btn button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<!-- End of Sidebar -->
{% endblock %}
