{% extends "layouts/auth.html" %}
{% block body_block %}
{% load static %}
<div class="container-fluid">
	<div class="row align-items-center">
		<div class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay gradient gradient-53 alpha-7 image-background cover" style="background-image:url(https://picsum.photos/1920/1200/?random&gravity=west)">
			<div class="content">
				<h2 class="display-4 display-md-3 color-1 mt-4 mt-md-0">Password
					<span class="bold d-block">Changed</span>
				</h2>
				<p class="lead color-1 alpha-5">We've got you covered</p>
			</div>
		</div>
		<div class="col-md-5 col-lg-4 mx-auto">
			<div class="forgot-form mt-5 mt-md-0">
				<img src="{% static "accounts/img/logo.png" %}" class="logo img-responsive mb-4 mb-md-4" alt="">
				<h1 class="color-5 bold">Password reset complete</h1>
				<p class="color-2 mt-0 mb-5 mt-4">Your password has been set. You may go ahead and log in now.
				</p>
        <a href="{% url 'recruiter:index' %}" class="btn btn-accent btn-rounded ml-auto"><i class="fas fa-long-arrow-alt-left mr-2"></i> Home

        </a>
        <a href="{% url 'accounts:login' %}" class="btn btn-warning btn-rounded ml-auto pull-right">Login
          <i class="fas fa-long-arrow-alt-right ml-2"></i>
        </a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
