{% extends "layouts/auth.html" %}
{% block body_block %}
{% load static %}
<div class="container-fluid">
	<div class="row align-items-center">
		<div class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay gradient gradient-53 alpha-7 image-background cover" style="background-image:url(https://picsum.photos/1920/1200/?random&gravity=west)">
			<div class="content">
				<h2 class="display-4 display-md-3 color-1 mt-4 mt-md-0">Reset
					<span class="bold d-block">Password</span>
				</h2>
				<p class="lead color-1 alpha-5">We've got you covered</p>
				<hr class="mt-md-6 w-25">
				<div class="d-flex flex-column">
					<p class="small bold color-1">Or sign up with</p>
					<nav class="nav mb-4">
						<a class="btn btn-rounded btn-outline-2 brand-facebook mr-2" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a class="btn btn-rounded btn-outline-2 brand-twitter mr-2" href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="btn btn-rounded btn-outline-2 brand-linkedin" href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-lg-4 mx-auto">
			<div class="forgot-form mt-5 mt-md-0">
				<img src="{% static "accounts/img/logo.png" %}" class="logo img-responsive mb-4 mb-md-5" alt="">
				<h1 class="color-5 bold">Set New Password</h1>
				<p class="color-2 mt-0 mb-4 mb-md-5">Please enter your new password twice so we can verify you typed it in correctly or
					<a href="{% url 'accounts:login' %}" class="accent bold">Login</a>
				</p>
				<form class="cozy" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.new_password1.errors }}
          {{ form.new_password2.errors }}
          <label class="control-label bold small text-uppercase color-2">New Password</label>
					<div class="form-group has-icon">
						<input type="password" name="new_password1" id="register_email" class="form-control form-control-rounded" placeholder="New password">
						<i class="icon fas fa-lock"></i>
					</div>
          <label class="control-label bold small text-uppercase color-2">Type Again</label>
          <div class="form-group has-icon">
						<input type="password" name="new_password2" id="register_email" class="form-control form-control-rounded" placeholder="Re-type password">
						<i class="icon fas fa-lock"></i>
					</div>
					<div class="form-group d-flex align-items-center justify-content-between">
						<button type="submit" class="btn btn-accent btn-rounded ml-auto">Change
							<i class="fas fa-long-arrow-alt-right ml-2"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
