{% extends "dashboard/layouts/home.html" %}
{% block title %}Districts{% endblock %}


{% load static %}

{% block body_block %}

<div class="main-content-wrap sidenav-open d-flex flex-column">
  <div class="breadcrumb justify-content-between">
      <h1>District</h1>
      <ul>
          <li><a href="">Home</a></li>
          <li><a href="{% url 'master:list_state' %}">State</a></li>
          <li><a href="{% url 'master:list_zone' view.kwargs.state_id %}">Zone</a></li>
          <li>Districts</li>
      </ul>
      <a class="btn btn-md btn-primary float-right" href="{% url 'master:create_district' view.kwargs.state_id view.kwargs.zone_id %}">Add District</a>
  </div>
  <div class="separator-breadcrumb border-top"></div>

    <div class="row pb-5">
        <div class="col-md-12">
          <div class="card text-left">
              <div class="card-body p-0">
                {% load django_tables2 %}
                {% render_table table %}
              </div>
          </div>
        </div>
    </div>
</div>





{% endblock %}
